<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.together.springStudy.mapper.ClubMapper">

    <resultMap id="ClubDataMap" type="com.together.springStudy.model.ClubData">
        <id column="club_id" property="clubId"/>
        <result column="club_leader_id" property="clubLeaderId"/>
        <result column="club_board_id" property="clubBoardId"/>
        <result column="club_name" property="clubName"/>
        <result column="club_description" property="clubDescription"/>
    </resultMap>

    <select id="getAllClub" resultMap="ClubDataMap">
        SELECT
            *
        FROM
            club_data
    </select>
    <select id="getClubByPrimaryKey" resultType="com.together.springStudy.model.ClubData">
        SELECT
            *
        FROM
            club_data
        WHERE
            club_id = #{clubId}
    </select>

    <insert id="createClub" parameterType="com.together.springStudy.model.CreateClubData">
        INSERT INTO
            club_data
            (club_leader_id, club_name, club_description)
        VALUES
            (#{clubLeaderId}, #{clubName}, #{clubDescription})
    </insert>
    <insert id="createClubMaster" parameterType="com.together.springStudy.model.ClubMember">
        INSERT INTO
            club_member
            (member_user_id, member_club_id, member_permission)
        VALUES
            (#{memberUserId}, #{memberClubId}, #{memberPermission})
    </insert>

    <insert id="joinClub" parameterType="com.together.springStudy.model.ClubJoinQueue">
        INSERT INTO
            club_join_queue
            (join_user_id, join_club_id)
        VALUES
            (#{joinUserId}, #{joinClubId})
    </insert>
    
    <insert id="joinClubApproval" parameterType="com.together.springStudy.model.ClubJoinQueue">
        INSERT INTO
            club_member
            (member_user_id, member_club_id)
        VALUES
            (#{joinUserId}, #{joinClubId})
    </insert>
    <delete id="deleteJoinClub">
        DELETE FROM
            club_join_queue
        WHERE
            join_queue_id = #{joinQueueId}
    </delete>

<!--    <insert id="joinClub" parameterType="com.together.springStudy.model.ClubJoinQueue">-->
<!--        INSERT INTO-->
<!--            club_join_queue-->
<!--            (join_user_id, join_club_id, join_content)-->
<!--        VALUES-->
<!--            (#{joinUserId, #{joinClubId}, #{joinContent})-->
<!--    </insert>-->

</mapper>